<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/biblioteca.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script th:src="@{/js/home/sections/homepage.js}"></script>
    <script th:src="@{/js/home/sections/loginBiblioteca.js}"></script>
    <script th:src="@{/js/home/sections/tabelaAcervo.js}"></script>
    <script th:src="@{/js/home/sections/bibliotecaSections.js}"></script>
    <script th:src="@{/js/home/sections/tabelaDinamica.js}"></script>
    <script th:src="@{/js/home/sections/turmasVinculadas.js}"></script>
    <script th:src="@{/js/home/sections/turmaSections.js}"></script>
    <script th:src="@{/js/home/sections/bolsas.js}"></script>
    <script th:src="@{/js/home/sections/bolsasSections.js}"></script>
    <script th:src="@{/js/home/home.js}"></script>

    <title>SICSEC</title>
  </head>

  <body>
    <header>
      <div class="logos">
        <img th:src="@{/images/cefet.png}" alt="" id="logo-cefet" />
        <h1>SICSEC</h1>
      </div>
      <nav>
        <button data-section="homepage">
          <img th:src="@{/images/home/homepage.svg}" alt="" />
          Página Inicial
        </button>
        <button id="botaoAcessoBoletim" data-section="boletim">
          <img th:src="@{/images/home/boletim.svg}" alt="" />
          Boletim
        </button>
        <button data-section="biblioteca">
          <img th:src="@{/images/home/biblioteca.svg}" alt="" />
          Biblioteca
        </button>
        <button data-section="turmas">
          <img th:src="@{/images/home/turmas.svg}" alt="" />
          Turmas
        </button>
        <button data-section="bolsas">
          <img th:src="@{/images/home/bolsas.svg}" alt="" />
          Bolsas
        </button>
      </nav>
      <a th:href="@{/}" class="sair">Sair</a>
    </header>

    <main>
      <section id="homepage">
        <div class="wrapper"></div>
      </section>

      <section id="turmas">
        <div class="wrapper"></div>
      </section>

      <section id="boletim">
        <div class="wrapper"></div>
      </section>

      <section id="biblioteca">
        <div class="wrapper"></div>
      </section>

      <section id="bolsas">
        <div class="wrapper"></div>
      </section>
    </main>
  </body>
</html>
