:root {
    --primary: #003A69;
    --secondary: #0060B0;
    --bg-primary: white;
    --bg-secondary: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
