html {
    max-height: 100vh;
    max-width: 100vw;
}

.pessoa img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid var(--secondary);
}

.pessoa {
    border: 1px solid var(--primary);
    background-color: var(--bg-secondary);
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
    width: 240px;
    height: 120px;
    font-size: 14px;
    display: flex;
}

.cronograma-item {
    border: 1px solid var(--secondary);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    margin: 1em 2em;
}

.cronograma-item .tipo-cronograma {
    font-weight: bold;
    color: var(--primary);
    justify-self: flex-end;
}

.noticia {
    border: 1px solid var(--secondary);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.turmas .wrapper section {
    max-height: 100vh;
    overflow-y: auto;
}

.principal .info-turma {

    display: flex;
    margin: auto;

}

.principal .info-turma > div {
    
    border: 1px solid var(--primary);
    width: 40vw;
    height: 20vh;
    font-size: 16px;
    border-radius: 5px;

}

.principal .info-turma > div > * {

    padding: 0.5em 1.5em;

}

.principal .info-turma > div > div {
    
    font-size: 14px;

}

.principal .info-turma > div > h2 {

    background-color: var(--secondary);
    color: white;
    font-size: 20px;

}

.principal .info-turma > div > h1 {

    background-color: var(--secondary);
    color: white;
    font-size: 22px;
    height: 50%;

}