/*

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    width: 50vw;
}

thead {
    color: white;
    background-color: var(--primary);
    border-radius: 5px 5px 0 0;
}*/

.tabela-container {
    margin: 2vh 5vw 0 5vw;
}